.DS_Store
**/node_modules/

# Cloudflare
/.wrangler
.env*
/dist/

# React Router
/.react-router/
/build/
.shopify

# Vitest
**/__screenshots__/*

# Environment variables
.env*
.dev*
.dev.vars
.dev.vars.local
!.env.example
