.DS_Store
**/node_modules/
.artifacts/

# Cloudflare
/.wrangler
.env*
*dist/

# React Router
/.react-router/
/build/
.shopify

# Vitest
**/__screenshots__/*

# Environment variables
.env*
.dev*
.dev.vars
.dev.vars.local
!.env.example

# GitHub Actions
.github/act/.secrets
.artifacts/